.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Figtree';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  background-color: #f5d04e;
}

main {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  box-shadow: 7px 6px 0 black;
}

.coverImg img {
  width: 330px;
  object-fit: contain;
  border-radius: 7px;
}

button {
  background-color: #f5d04e;
  border: none;
  font-weight: 900;
  margin-top: 22px;
  border-radius: 3px;
  padding: 5px 15px;
}

.profileDate {
  color: #202020;
  margin-top: 12px;
}

h2 {
  margin-top: 18px;
}

.profileContent {
  margin-top: 20px;
  color: #656565;
  line-height: 1.5;
}

.profileInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}

.profileImg img {
  height: 36px;
  width: 36px;
}

.profileName {
  font-weight: 700;
}
